.git
.gitignore
.github

.venv
__pycache__
*.pyc

.idea
.vscode
.DS_Store

target
dbt_packages
logs

.duckdb

data/raw/*.parquet
data/generated/*

exports/cleaned/*
exports/marts/*
exports/reports/summary_report.md

airflow/logs